{{ form_start(formEdit, {'attr':{'class':''}}) }}
   {{ form_errors(formEdit) }}
   
   
   <!--NOM-->
    <div class="form-group">
      {{ form_label(formEdit.nom, "Nom", {'label_attr': {'class': ''}}) }}

      {{ form_errors(formEdit.nom) }}

        {{ form_widget(formEdit.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
   
   <!--PRIX-->
    <div class="form-group">
      {{ form_label(formEdit.prix, "Prix", {'label_attr': {'class': ''}}) }}

      {{ form_errors(formEdit.prix) }}

        {{ form_widget(formEdit.prix, {'attr': {'class': 'form-control'}}) }}
    </div>
   
   <!--IMAGE-->
   <div class="form-group">
      {{ form_label(formEdit.image, "Image", {'label_attr': {'class': ''}}) }}

      {{ form_errors(formEdit.image) }}

        {{ form_widget(formEdit.image, {'attr': {'class': 'form-control'}}) }}
    </div>
   
    <!--DESCRIPTION-->
   <div class="form-group">
      {{ form_label(formEdit.description, "Description", {'label_attr': {'class': ''}}) }}

      {{ form_errors(formEdit.description) }}

        {{ form_widget(formEdit.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    
     <!--STOCK-->
   <div class="form-group">
      {{ form_label(formEdit.stock, "Stock", {'label_attr': {'class': ''}}) }}

      {{ form_errors(formEdit.stock) }}

        {{ form_widget(formEdit.stock, {'attr': {'class': 'form-control'}}) }}
    </div>
     
       <!--ARCHIVE-->
   <div class="form-group">
      {{ form_label(formEdit.archive, "Archive", {'label_attr': {'class': ''}}) }}

      {{ form_errors(formEdit.archive) }}

        {{ form_widget(formEdit.archive, {'attr': {'class': 'form-control'}}) }}
    </div>
       
       {{ form_widget(formEdit.save, {'attr': {'class': 'btn btn-primary'}}) }}
       
       {{ form_rest(formEdit) }}
{{ form_end(formEdit) }}